:root{
    --navbar: #ed4e1d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    background-color: var(--navbar);
    justify-content: space-between; /* Add this line to create space between logo and icon */

}

nav > img {
    padding-left: 2em;
    height: 4em; /* Set a fixed height */ 
}

.meny-items {
    list-style: none;
    display: flex; 
    margin-left: auto; /* Right aligns the ul list */
    padding-right: 2em;
    padding-top: 0.8em;
}

.meny-items li {
    margin-right: 2.5em; 
    font-size: 1.1em;
    font-weight: bold; 
}
a {
    color:black;
    text-decoration: none;
    transition: color 0.3s ease; /* Change the color  https://www.w3schools.com/css/css3_transitions.asp */
}

a:hover {
    color: white; 
}
.meny-items li:last-child {
    margin-right: 0; /*To remove the margin for the last list item https://www.w3schools.com/cssref/sel_last-child.php */
}

.index-article h1 {
    text-align: center;
    font-size: 2.5em;
    border-bottom: solid black; /* Add a color or use a specific value like '1px solid black' */
    margin-left: -0.5em; 
}
    

.index-articles {
    margin-left: 1.2em;

} 

.index-article img {
    display: block; /**/ 
    margin: 0 auto;
    max-width: 70%;
}

footer {
    text-align: center; 
    background-color: var(--navbar);
    display: flex;
    justify-content: space-around; /* Add this line for equal spacing */
    padding: 1em; /* Add padding for better spacing */
}

@media (max-width: 700px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .list-container-footer,
    .adress-container-footer {
        margin: 1em;
    }

    nav{
        /* display: flex; */
        /* height: 4em; */
    }
    .meny-items{
        display: flex;
        flex-direction: column;
        position: sticky;
        
    }
    
    .meny-icon { 
        display: block;
        background-image: url(/media/icons8-menu.svg);
        background-size: cover;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }


    .meny-items li{
        height: 0;
        overflow: hidden;
    }

    #burger-toggle:checked ~ .meny-items li {
        height: 2em;
        width: auto;
    }
}

#burger-toggle{
    display: none;
}

.list-container-footer,
.adress-container-footer {
    border: solid 1px black;
    margin: 1em;
    text-align: left;
    vertical-align: top;
    padding: 1em; /* Add padding for better spacing */
}

.adress-container-footer a{
    font-weight: bold;
}

.list-container-footer{
    font-weight: bold;
}

.list-container-footer ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

.list-container-footer li {
    padding-top: 0;
    padding-bottom: 1.2em;
}

/* Css til topical, sorterer etterpå */

.front-page-container { /* Makes the border around the pager orange */
	background-color: #ed4e1d;
}

.topical-web-body {
	background-color: #ffffff;
	max-width: 50rem;
	padding: 1.25rem;
	padding-top: 0.125rem;
	text-align: left;
	width: 70%;
	margin: auto;
}

@media only screen and (max-width: 600px) { /* Have to be on a line after .topical-web-body */
	.topical-web-body {
		width: 80%;
		font-size: 1.25rem;
		padding: 10%;
	}
}

.topical-h1 {
	font-size: 2.5rem;
	text-align: left;
}
.topical-text-author {
	font-size: 0.8125rem;
	color: rgb(201, 149, 53);
}
#writer-summary {
	padding-left: 12%;
	padding-top: 1%;
}
#topical-author-picture {
	width: 5rem;
	float: left;
}
#ai-chip {
	width: 90%;
	padding-left: 5%;
}
#AIwriting {
	width: 30%;
	padding-left: 5%;
}
#deepfake-trump {
	width: 40%;
	padding-left: 25%;
}
#ai-face-scan {
	width: 90%;
	padding: 5%;
}
.info-box {
	background-color: #ffc2c2;
	padding: 1.25rem;
	margin: 1.25rem 0;
	border-radius: 0.5rem;
	border: 1px solid #ff9191;
	line-height: 2.5;
}
details {
	background-color: #d6afaf;
	padding: 0.625rem;
	margin-top: 0.625rem;
	border-radius: 0.25rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
summary {
	cursor: pointer;
	color: #333;
	outline: none;
}
summary::-webkit-details-marker {
	display: none;
}
#Audioclip {
	width: 100%;
}

/* Css til topical, sorterer etterpå */


